Subject: Welcome to CedCast! Your enrollment request has been approved

Dear {{ contact_name }},

Congratulations! Your enrollment request for {{ organization.name }} has been approved.

Your organization account has been created and you can now start using CedCast for SMS communications.

Login Details:
- Website: {{ protocol }}://{{ domain }}
- Username: {{ admin_username }}
- Temporary Password: {{ temp_password }}

Please log in and change your password immediately for security.

If you have any questions or need assistance getting started, please don't hesitate to contact our support team.

Best regards,
The CedCast Team
{{ site_name }}
{{ protocol }}://{{ domain }}